[include]
    path = ~/.gitconfig.local

[alias]
    addp = add -p
    st = status
    cm = commit
    co = checkout
    sw = switch
    br = branch
    dff = diff
    dfc = diff --cached
    cma = commit --amend
    ch = cherry-pick
    cl = clean
    clf = clean -f
    down = restore --staged
    pushf = push --force-with-lease --force-if-includes
    pusho = push origin
    rm = rm --cached
    rs = restore
    rb = rebase
    fetch = fetch --prune
    ss = stash
    sp = stash pop

    # いい感じのグラフでログを表示
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    gr = graph
    graph-all = log --graph --all --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

    # Untracked filesを表示
    st-all = st -uall

    # 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
    diff-word = diff --word-diff

[init]
    defaultBranch = main

[core]
    autocrlf = input
    quotepath = false
    editor = vim
    pager = "LESSCHARSET=utf-8 less"
    whitespace = cr-at-eol

[pull]
    rebase = false

[fetch]
    prune = true

[push]
    default = current

[color]
    ui = true

[diff "sjis"]
    textconv = iconv -f sjis
