[include]
    path = ~/.gitconfig.local

[alias]
    st = status
    cm = commit
    co = checkout
    sw = switch
    br = branch
    df = diff
    dfc = diff --cached
    cma = commit --amend
    ch = cherry-pick
    down = restore --staged
    pushf = push --force-with-lease --force-if-includes origin

    # いい感じのグラフでログを表示
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    gr = graph
    graph-all = log --graph --all --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

    # Untracked filesを表示
    st-all = st -uall

    # 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
    diff-word = diff --word-diff

[init]
    defaultBranch = main

[core]
    autocrlf = input
    quotepath = false
    quotepath = false
    editor = vim

[pull]
    rebase = false

[push]
    default = current

[color]
    ui = true
